@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9e9e9e;
}

#fondo {
  background-image: url("src/assets/img/portal-rick-and-morty.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 520px 430px;
}